<nav class="menu" style="background-color: {{ equipe.couleur }}">
    <p>WWC</p>
    <p>
        {% if game.periode == 1 %}
            Janvier
        {% elseif game.periode == 2 %}
            Février
        {% elseif game.periode == 3 %}
            Mars
        {% endif %}
    </p>
    <div>
        <ul>
            <li
                    {% if game.phase == "1a" or "1b" or "1c" or "2a" %}
                        class="active"
                        style="background-color: {{ equipe.couleur }}"
                    {% endif %}
                    style="color: {{ equipe.couleur }}"
            >
                1. Appels d'offres
            </li>
            <li
                    {% if game.phase == "2b" %}
                        class="active"
                        style="background-color: {{ equipe.couleur }}"
                    {% endif %}
                    style="color: {{ equipe.couleur }}"
            >
                2. Retours d'offres et affectations
            </li>
            <li
                    {% if game.phase == "3" %}
                        class="active"
                        style="background-color: {{ equipe.couleur }}"
                    {% endif %}
                    style="color: {{ equipe.couleur }}"
            >
                3. Résultats fin du mois
            </li>
        </ul>
    </div>
    <p>Prochain tour : 00:00</p>
</nav>
