<div class="raccourcis_menu">
    <i class="fa-solid fa-folder-open fa-xl" type="button" style="color: {{ equipe.couleur }}" data-bs-toggle="modal"
       data-bs-target="#projetsModal"></i>
    <i class="fa-solid fa-money-bill-transfer fa-xl" type="button" style="color: {{ equipe.couleur }}"
       data-bs-toggle="modal" data-bs-target="#financesModal"></i>
    <i class="fa-solid fa-users fa-xl" type="button" style="color: {{ equipe.couleur }}" data-bs-toggle="modal"
       data-bs-target="#salariesModal"></i>
</div>


<!-- Modal projets -->
<div class="modal fade modal-xl" id="projetsModal" tabindex="-1" aria-labelledby="projetsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="projetsModalLabel">Projets en cours</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for projet in equipe.projets|filter(e => e.etat == false) %}
                    <div class="card">
                        <div class="card-header">
                            {{ projet.offre.libelle }}
                            <em>{{ projet.offre.descriptionCourte|raw }}</em>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Début du projet :
                                    {% if projet.debut == 1 %}
                                        janvier
                                    {% elseif projet.debut == 2 %}
                                        février
                                    {% elseif projet.debut == 3 %}
                                        mars
                                    {% elseif projet.debut == 4 %}
                                        avril
                                    {% elseif projet.debut == 5 %}
                                        mai
                                    {% elseif projet.debut == 6 %}
                                        juin
                                    {% elseif projet.debut == 7 %}
                                        juillet
                                    {% elseif projet.debut == 8 %}
                                        août
                                    {% elseif projet.debut == 9 %}
                                        septembre
                                    {% elseif projet.debut == 10 %}
                                        octobre
                                    {% elseif projet.debut == 11 %}
                                        novembre
                                    {% elseif projet.debut == 12 %}
                                        décembre
                                    {% endif %}
                                </li>
                                <li><span>Livraison :</span>
                                    {% if projet.fin == 1 %}
                                        janvier
                                    {% elseif projet.fin == 2 %}
                                        février
                                    {% elseif projet.fin == 3 %}
                                        mars
                                    {% elseif projet.fin == 4 %}
                                        avril
                                    {% elseif projet.fin == 5 %}
                                        mai
                                    {% elseif projet.fin == 6 %}
                                        juin
                                    {% elseif projet.fin == 7 %}
                                        juillet
                                    {% elseif projet.fin == 8 %}
                                        août
                                    {% elseif projet.fin == 9 %}
                                        septembre
                                    {% elseif projet.fin == 10 %}
                                        octobre
                                    {% elseif projet.fin == 11 %}
                                        novembre
                                    {% elseif projet.fin == 12 %}
                                        décembre
                                    {% endif %}
                                    <br>
                                    <small class="text-muted">
                                        Reste {{ projet.fin - game.periode }} mois.
                                    </small>
                                </li>
                            </ul>
                            <hr>
                            <ul>
                                {% for assigneRole in projet.assigneRoles %}
                                    <li>
                                        {{ assigneRole.role.libelle }} : {{ assigneRole.nbJours }} /
                                        {% for besoinRole in projet.offre.besoinRole %}
                                            {% if besoinRole.role.id == assigneRole.role.id %}
                                                {{ besoinRole.nbJours }}
                                                <br>
                                                <small class="text-muted">
                                                    Reste {{ besoinRole.nbJours - assigneRole.nbJours }} jours à faire
                                                    sur
                                                    {{ besoinRole.nbJours }} prévus.
                                                </small>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                {% endfor %}
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal finances -->
<div class="modal fade modal-xl" id="financesModal" tabindex="-1" aria-labelledby="financesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="financesModalLabel">Situation financière</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="bilan_comptable">
                    <table class="table table-bordered no-margin">
                        <thead>
                        <tr>
                            <th colspan="2">Actif</th>
                            <th colspan="2">Passif</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                Matériel
                            </td>
                            <td>
                                {{ equipe.materielActif }} €
                            </td>
                            <td>
                                Capital social
                            </td>
                            <td>
                                {{ equipe.passifCapital }} €
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Créances
                            </td>
                            <td>
                                {{ equipe.actifCreance }} €
                            </td>
                            <td>
                                Résultat
                            </td>
                            <td>
                                {{ equipe.passifResultat }} €
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Disponibilités
                            </td>
                            <td>
                                {{ equipe.actifDispo }} €
                            </td>
                            <td>
                                Dettes financières
                            </td>
                            <td>
                                {{ equipe.passifDetteFinanciere }} €
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                Dettes fournisseurs
                            </td>
                            <td>
                                {{ equipe.passifDetteFournisseurs }} €
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                Dettes fiscales et sociales
                            </td>
                            <td>
                                {{ equipe.passifDetteFiscales }} €
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                Découvert bancaire
                            </td>
                            <td>
                                {{ equipe.passifDecouvert }} €
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- Modal salaries -->
<div class="modal fade modal-xl" id="salariesModal" tabindex="-1" aria-labelledby="salariesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="salariesModalLabel">Masse salariale</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Vue d'ensemble</h5>
                <table class="table table-striped">
                    <tr>
                        <td>
                            <span class="fw-bolder">Total d'employés : </span>{{ equipe.profils|length }}
                        </td>
                    </tr>
                    {% for role in game.roles %}
                        <tr>
                            <td>
                                <span class="fw-bolder">{{ role.libelle }} : </span> {{ equipe.profils|filter(e => e.role.id == role.id)|length }}
                                <br>
                                <small class="text-muted">
                                    Total de jours de travail disponibles pour un mois :
                                    {% set totalJours = equipe.profils|filter(e => e.role.id == role.id)|reduce((carry, profil) => carry + profil.nbJours, 0) %}
                                    {{ totalJours }} jours
                                </small>
                                <br>
                                <small class="text-muted">
                                    Tâches récurrentes :
                                    {{ role.tacheRecurrente }} jours
                                </small>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="alert alert-warning">
                    <i class="fa-solid fa-warning"></i> &nbsp;
                    <span>N'oubliez pas que chaque role mobilise des jours de travail afin de mener à bien les tâches récurrentes.</span>
                </div>

                <h5>Frais liés au personnel</h5>

                <table class="table table-striped">
                    <tr>
                        <td><span class="fw-bolder">Salaires :</span>
                            <ul class="data-list">
                                {% for profil in equipe.profils %}
                                    <li>
                                        <small>
                                        {{ profil.prenom }} {{ profil.nom }} : {{ profil.salaire|format_currency('EUR', locale='fr') }}
                                        {% if profil.type == "salarie" %}
                                            / mois
                                        {% else %}
                                            / jour
                                        {% endif %}
                                        </small>
                                    </li>
                                {% endfor %}
                                <li>
                                    <small class="fw-bolder">
                                        Total : {{ equipe.profils|reduce((carry, profil) => carry + profil.salaire, 0)|format_currency('EUR', locale='fr') }}
                                        / mois
                                    </small>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td><span class="fw-bolder">Bureaux :</span> {{ equipe.surface.libelle }}
                            | {{ equipe.surface.tarif|format_currency('EUR', locale='fr') }} / mois
                            <br>
                            <small class="text-muted">
                                Peut accueillir entre {{ equipe.surface.capaciteMin }}
                                et {{ equipe.surface.capaciteMax }} employés
                            </small>
                        </td>
                    </tr>

                    <tr>
                        <td><span class="fw-bolder">Matériel :</span> {{ equipe.materiel }} machines
                            | {{ equipe.materielActif|format_currency('EUR', locale='fr') }} / mois
                            <br>
                            <small class="text-muted">
                                {{ equipe.materiel - equipe.materielLoue }} machines
                                possédées, {{ equipe.materielLoue }}
                                machines louées
                            </small>
                        </td>
                    </tr>

                    <tr>
                        <td><span class="fw-bolder">Electricité :</span> {{ (equipe.profils|length * 25)|format_currency('EUR', locale='fr') }} / mois
                            <br>
                            <small class="text-muted">
                                25*nb salariés / mois
                            </small>
                        </td>
                    </tr>

                    <tr>
                        <td><span class="fw-bolder">Téléphonie :</span> {{ (equipe.profils|length * 50)|format_currency('EUR', locale='fr') }} / mois
                            <br>
                            <small class="text-muted">
                                50*nb salariés / mois
                            </small>
                        </td>
                    </tr>

                    <tr>
                        <td><span class="fw-bolder">Déplacements :</span> {{ (equipe.profils|length * 200)|format_currency('EUR', locale='fr') }} / mois
                            <br>
                            <small class="text-muted">
                            200*nb salariés / mois
                            </small>
                        </td>
                    </tr>

                    <tr>
                        <td><span class="fw-bolder">Charges diverses</span> : {{ (equipe.profils|length * 50)|format_currency('EUR', locale='fr') }} / mois
                            <br>
                            <small class="text-muted">
                                50*nb salariés / mois
                            </small>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <div class="row justify-content-start g-4">
                    <h5>Votre équipe</h5>
                    {% for profil in equipe.profils %}
                        <div class="col-lg-6">
                            <div class="card h-100">
                                <div class="card-header h-100">
                                    {{ profil.type }}
                                </div>
                                <div class="card-body">
                                    <h4>{{ profil.prenom }} {{ profil.nom }}</h4>
                                    <em>{{ profil.role.libelle }}</em>
                                    <hr>
                                    <h5>Niveau de compétences</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             style="width: {{ profil.niveauCompetences * 10 }}%"
                                             aria-valuenow="{{ profil.niveauCompetences * 10 }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                    <hr>
                                    <ul class="data-list">
                                        <li>
                                            <span class="fw-bolder">Nombre de jours travaillés : </span> {{ profil.nbJours }}
                                            jours
                                        </li>
                                        <li>
                                            <span class="fw-bolder">Temps de mission : </span>
                                            {% if profil.type == 'freelance' %}
                                                {{ profil.tempsMission }} mois
                                            {% else %}
                                                ∞ mois
                                            {% endif %}
                                        </li>
                                        <li>
                                            <span class="fw-bolder">Salaire : </span> {{ profil.salaire|format_currency('EUR', locale='fr') }}
                                            {% if profil.type == "salarie" %}
                                                / mois
                                            {% else %}
                                                / jour
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>