<turbo-stream action="replace" target="phase">
    <template>
        <div id="phase" {{ turbo_stream_listen('game-maitre/'~maitre.id) }}>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for offre in offres %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if offreUpdated is defined and offreUpdated == offre %}active{% elseif offreUpdated is not defined and loop.first %}active{% endif %}"
                           id="offre-{{ offre.id }}-tab"
                           data-bs-toggle="tab" href="#offre-{{ offre.id }}" role="tab"
                           aria-controls="offre-{{ offre.id }}"
                           aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ offre.libelle }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">
                {% for offre in offres %}
                    <div class="card tab-pane fade
                    {% if offreUpdated is defined and offreUpdated == offre %}show active{% elseif offreUpdated is not defined and loop.first %}show active{% endif %}"
                         id="offre-{{ offre.id }}"
                         role="tabpanel" aria-labelledby="offre-{{ offre.id }}-tab">
                        <div class="card-body">
                            <h3>{{ offre.libelle }}</h3>
                            <p>
                                {{ offre.typeOffre.libelle }} | {{ offre.prixMin|format_currency('EUR', locale='fr') }}
                                - {{ offre.prixMax|format_currency('EUR', locale='fr') }}
                            </p>
                            <table>
                                <thead>
                                <tr>
                                    <th>Equipe</th>
                                    <th>Type projet</th>
                                    <th>Proposition</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for equipe in equipes %}
                                    {% for proposition in equipe.propositions %}
                                        {% if proposition.offre.id == offre.id %}
                                            <tr>
                                            <td>{{ proposition.equipe.nom }}</td>
                                            {% if proposition.type is not null %}
                                                <td
                                                        {% if proposition.type.libelle == offre.typeOffre.libelle %}
                                                            style="color: green"
                                                        {% else %}
                                                            style="color: red"
                                                        {% endif %}
                                                >{{ proposition.type.libelle }}</td>
                                            {% else %}
                                                <td>Non défini</td>
                                            {% endif %}
                                            {% if proposition.prix is not null %}
                                                <td>{{ proposition.prix|format_currency('EUR', locale='fr') }}</td>
                                            {% else %}
                                                <td>0 €</td>
                                            {% endif %}
                                            <td>
                                                <turbo-frame>
                                                    <a href="{{ path('app_proposition_state', {'id':proposition.id}) }}">
                                                        <button class="btn
                                        {% if proposition.etat == true %}
                                    btn-success">
                                                            Refuser
                                                            {% else %}
                                                                btn-danger">
                                                                Accepter
                                                            {% endif %}
                                                        </button>
                                                    </a>
                                                </turbo-frame>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <turbo-frame>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        {% for offre in offres %}
                            <th>{{ offre.libelle }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipe in equipes %}
                        <tr>
                            <td>
                                {{ equipe.nom }}
                            </td>
                            {% for offre in offres %}
                                {% for proposition in equipe.propositions %}
                                        {% if proposition.offre.id == offre.id and proposition.etat == true %}
                                            <td>
                                                <span class="badge bg-success">Accepté</span>
                                            </td>
                                        {% elseif proposition.offre.id == offre.id and proposition.etat == false %}
                                            <td>
                                                <span class="badge bg-danger">Refusé</span>
                                            </td>
                                        {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </turbo-frame>

        </div>
    </template>
</turbo-stream>
