<turbo-stream action="replace" target="phase">
    <template>
        <div id="phase" {{ turbo_stream_listen('game-maitre/'~app.user.id) }}>
            <div class="offres1a">
                <table>
                    <thead>
                    <tr>
                        <th>Offre</th>
                        <th>Type</th>
                        <th>Budget</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for offre in offres %}
                        <tr>
                            <td>{{ offre.libelle }}</td>
                            <td>{{ offre.typeOffre.libelle }}</td>
                            <td>{{ offre.prixMin }} € - {{ offre.prixMax }} €</td>
                            <td>
                                <turbo-frame id="visibilite">
                                <a href="{{ path('app_offre_visibilite', {'id':offre.id}) }}">
                                    <button class="btn
                                        {% if offre.visible == true %}
                                    btn-success">
                                        Masquer
                                        {% else %}
                                            btn-danger">
                                            Rendre visible
                                        {% endif %}
                                    </button>
                                </a>
                                </turbo-frame>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </template>
</turbo-stream>