<turbo-frame id="proposition-frame-{{ offre.id }}">
    <a href="{{ path('app_proposition_delete', {id:proposition.id}) }}">
        <button class="btn btn-danger">Annuler la proposition</button>
    </a>

{{ form_start(form, {'method': 'POST', 'action': path('app_proposition_update', {'id':proposition.id})}) }}
    {{ form_row(form.type) }}
    {{ form_row(form.prix) }}
    <button class="btn btn-primary" type="submit">Modifier la proposition</button>
{{ form_end(form) }}
</turbo-frame>