<turbo-frame id="form-proposition{{ offre.id }}">
<a href="{{ path('app_joueur_offre_remove', {'id':offre.id}) }}"
   data-turbo-action="replace" data-turbo-frame="form-proposition{{ offre.id }}">
    <button class="btn btn-primary">Annuler la proposition</button>
</a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</turbo-frame>