<turbo-stream action="replace" target="phase-joueur-{{ game.id }}">
    <template>
        <div id="phase-joueur-{{ game.id }}" {{ turbo_stream_listen('game-joueur/'~game.id~'/equipe/'~equipe.id) }}>
            <h2>Phase : {{ game.phase }}</h2>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for offre in offres %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if offreUpdated is defined and offreUpdated == offre %}active{% elseif offreUpdated is not defined and loop.first %}active{% endif %}"
                           id="offre-{{ offre.id }}-tab"
                           data-bs-toggle="tab" href="#offre-{{ offre.id }}" role="tab"
                           aria-controls="offre-{{ offre.id }}"
                           aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ offre.libelle }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">
                {% for offre in offres %}
                    <div class="card tab-pane fade {% if offreUpdated is defined and offreUpdated == offre %}show active{% elseif offreUpdated is not defined and loop.first %}show active{% endif %}"
                         id="offre-{{ offre.id }}"
                         role="tabpanel" aria-labelledby="offre-{{ offre.id }}-tab">
                        <div class="card-body">
                            <h3>{{ offre.libelle }}</h3>
                            <div class="d-inline-flex gap-1">
                                <em>{{ offre.descriptionCourte|raw }}</em>
                                <em class="link-primary" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    En savoir plus
                                </em>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    {{ offre.descriptionLongue|raw }}
                                </div>
                            </div>

                            <hr>

                            <ul>
                                {% for besoin in offre.besoinRole %}
                                    <li><span>{{ besoin.role.libelle }}</span>
                                        {{ besoin.nbJoursEstimeMin }} à
                                        {{ besoin.nbJoursEstimeMax }} jours
                                    </li>
                                {% endfor %}
                            </ul>

                            <h4>Budget de l'entreprise</h4>
                            <small>Accompte versé à la signature : {{ offre.accompte }} %</small>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-arrow-down" style="color: red"></i> {{ offre.prixMin|format_currency('EUR', locale='fr') }}
                                </li>
                                <li>
                                    <i class="fa-solid fa-arrow-up" style="color: green"></i> {{ offre.prixMax|format_currency('EUR', locale='fr') }}
                                </li>
                            </ul>

                            <h4>Durée du projet</h4>
                            <ul>
                                <li>{{ offre.deadline }} mois</li>
                            </ul>

                            <turbo-frame id="proposition-frame-{{ offre.id }}">
                                {% if equipe is not null %}
                                    {#              Si il existe une proposition de cette equipe pour cette offre              #}
                                    {% for proposition in offre.propositions %}
                                        {% if proposition.equipe.id == equipe.id %}
                                            <a href="{{ path('app_proposition_delete', {id:proposition.id}) }}">
                                                <button class="btn btn-danger">Annuler la proposition</button>
                                            </a>
                                            {{ form_start(forms[offre.id][proposition.equipe.id], {'method': 'POST', 'action': path('app_proposition_update', {'id':proposition.id})}) }}
                                            {{ form_row(forms[offre.id][proposition.equipe.id].type) }}
                                            {{ form_row(forms[offre.id][proposition.equipe.id].prix) }}
                                            {{ form_row(forms[offre.id][proposition.equipe.id].estimationRoles) }}
                                            <button class="btn btn-primary" type="submit">Modifier la proposition
                                            </button>
                                            {{ form_end(forms[offre.id][proposition.equipe.id]) }}

                                        {% elseif offre.propositions|filter(e => e.equipe.id == equipe.id)|length == 0 %}
                                            <a href="{{ path('app_proposition_create', {'offreId':offre.id, 'equipeId':equipe.id}) }}">
                                                <button class="btn btn-primary">Répondre à cette offre</button>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if offre.propositions is empty %}
                                        <a href="{{ path('app_proposition_create', {'offreId':offre.id, 'equipeId':equipe.id}) }}">
                                            <button class="btn btn-primary">Répondre à cette offre</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </turbo-frame>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </template>
</turbo-stream>