<turbo-stream action="replace" target="phase-joueur-{{ game.id }}">
    <template>
        <div id="phase-joueur-{{ game.id }}" {{ turbo_stream_listen('game-joueur/'~game.id) }}>
            <h2>Phase : {{ game.phase }}</h2>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for offre in offres %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="offre-{{ offre.id }}-tab"
                           data-bs-toggle="tab" href="#offre-{{ offre.id }}" role="tab"
                           aria-controls="offre-{{ offre.id }}"
                           aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ offre.libelle }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">
                {% for offre in offres %}
                <div class="card tab-pane fade {% if loop.first %}show active{% endif %}" id="offre-{{ offre.id }}"
                     role="tabpanel" aria-labelledby="offre-{{ offre.id }}-tab">
                    <div class="card-body">
                        <h3>{{ offre.libelle }}</h3>
                        <p>{{ offre.descriptionCourte|raw }}</p>

                        <turbo-frame id="proposition-frame-{{ offre.id }}">
                            <a href="{{ path('app_proposition_create', {'offreId':offre.id, 'equipeId':equipe.id}) }}">
                                <button class="btn btn-primary">Répondre à cette offre</button>
                            </a>
                        </turbo-frame>
                    </div>
                </div>
                    {% endfor %}
            </div>

        </div>
    </template>
</turbo-stream>