<turbo-stream action="replace" target="phase-joueur-{{ game.id }}">
    <template>
        <div id="phase-joueur-{{ game.id }}" {{ turbo_stream_listen('game-joueur/'~game.id) }}>
            <h2>Phase : {{ game.phase }}</h2>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for offre in offres %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if loop.first %}active{% endif %}" id="offre-{{ offre.id }}-tab" data-bs-toggle="tab" href="#offre-{{ offre.id }}" role="tab" aria-controls="offre-{{ offre.id }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ offre.libelle }}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">
                {% for offre in offres %}
                <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="offre-{{ offre.id }}" role="tabpanel" aria-labelledby="offre-{{ offre.id }}-tab">
                    <h3>{{ offre.libelle }}</h3>
                    <p>{{ offre.descriptionCourte|raw }}</p>

                    <form action="">
                        <label for="reponse-{{ offre.id }}">Nous répondons à cette offre</label>
                        <input type="checkbox" name="reponse" id="reponse-{{ offre.id }}" value="oui">
                    </form>
                </div>
                {% endfor %}
            </div>

        </div>
    </template>
</turbo-stream>