<turbo-stream action="replace" target="phase-joueur-{{ game.id }}">
    <template>
        <div id="phase-joueur-{{ game.id }}" {{ turbo_stream_listen('game-joueur/'~game.id~'/equipe/'~equipe.id) }}>
            <h2>Phase : {{ game.phase }}</h2>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for offre in offres %}
        <li class="nav-item" role="presentation">
            <a class="nav-link {% if offreUpdated is defined and offreUpdated is not null and offreUpdated.id == offre.id %}active{% elseif offreUpdated is not defined and loop.first %}active{% endif %}" id="offre-{{ offre.id }}-tab"
               data-bs-toggle="tab" href="#offre-{{ offre.id }}" role="tab"
               aria-controls="offre-{{ offre.id }}"
               aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ offre.libelle }}</a>
        </li>
    {% endfor %}
</ul>

            <div class="tab-content" id="myTabContent">
                {% for offre in offres %}
                    <div class="card tab-pane fade {% if offreUpdated is defined and offreUpdated is not null and offreUpdated.id == offre.id %}show active{% elseif offreUpdated is not defined and loop.first %}show active{% endif %}" id="offre-{{ offre.id }}"
                         role="tabpanel" aria-labelledby="offre-{{ offre.id }}-tab">
                        <div class="card-body">
                            <h3>{{ offre.libelle }}</h3>
                            <p>{{ offre.descriptionCourte|raw }}</p>

                            <turbo-frame id="proposition-frame-{{ offre.id }}">
                                {% if equipe is not null %}
                                    {#              Si il existe une proposition de cette equipe pour cette offre              #}
                                    {% for proposition in offre.propositions %}
                                        {% if proposition.equipe.id == equipe.id %}
                                            <a href="{{ path('app_proposition_delete', {id:proposition.id}) }}">
                                                <button class="btn btn-danger">Annuler la proposition</button>
                                            </a>
                                            {{ form_start(forms[offre.id][proposition.equipe.id], {'method': 'POST', 'action': path('app_proposition_update', {'id':proposition.id})}) }}
                                            {{ form_row(forms[offre.id][proposition.equipe.id].type) }}
                                            {{ form_row(forms[offre.id][proposition.equipe.id].prix) }}
                                                <button class="btn btn-primary" type="submit">Modifier la proposition</button>
                                            {{ form_end(forms[offre.id][proposition.equipe.id]) }}

                                        {% elseif offre.propositions|filter(e => e.equipe.id == equipe.id)|length == 0 %}
                                            <a href="{{ path('app_proposition_create', {'offreId':offre.id, 'equipeId':equipe.id}) }}">
                                                <button class="btn btn-primary">Répondre à cette offre</button>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if offre.propositions is empty %}
                                        <a href="{{ path('app_proposition_create', {'offreId':offre.id, 'equipeId':equipe.id}) }}">
                                            <button class="btn btn-primary">Répondre à cette offre</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </turbo-frame>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </template>
</turbo-stream>